
body{
 margin:0;
 padding:30px;
 font-family:Arial;
 background:#eef4fa
}
main{max-width:1500px;margin:auto}
header{
 background:#123b63;
 color:white;
 padding:25px;
 border-radius:18px
}
section{
 display:flex;
 gap:15px;
 flex-wrap:wrap;
 margin:20px 0
}
.card,.box{
 background:white;
 padding:20px;
 border-radius:15px;
 box-shadow:0 3px 10px #ccc
}
.card{min-width:200px}
button,input,select{padding:10px;margin:5px}
table{
 width:100%;
 border-collapse:collapse;
 background:white
}
th{
 background:#123b63;
 color:white
}
td,th{
 padding:8px;
 border:1px solid #ddd
}
